{% extends "main_app/base.html" %} {% block content %}
<div class="marketing-formatting">



    <section class="page-block page-block--video hello">
        <div class="up">
            <div style="width:100%;height:600px; overflow-y:hidden; position: relative; text-align: center;">
                <img src="https://images.unsplash.com/photo-1504022462188-88f023db97bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" style="width:100%; margin-top:-150px; ">
            </div>
            <div class="page-block--video-content">
                <h1 class="type-mega--sans type-center">
                    We connect creativity with Experience.
                </h1>

            </div>
        </div>
    </section>
    <div class="marketing-formatting">




        </section>
        <div class="container-flex">

            <div class="row page-block__content">
                <div class="col col-5 col-post-1">

                    <div>
                        <img id="our_imgs" src="
                            https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    </div>

                </div>
                <div class="col col-6">
                    <p class="type-xl--sans"><b style="padding: 10px;">Our community</b></p>
                    <p class="type-base--serif">
                        LOGO provides the best platform for Startups as well as Mentors. We come across various innovative and mind boggling ideas and also the people who are interested in guiding them.
                    </p>
                    <p class="type-base--serif">
                        Some of them are beginners and some are drop-outs.
                    </p>
                    <p class="type-base--serif">
                        Every idea and plan is mapped with there respective specialized mentor. We provide mentors from all over the Globe with their best tips.
                    </p>
                </div>
            </div>
        </div>
        <section class="page-block page-block--image dela"></section>
        <section class="page-block">

            <div class="color-callout orange color-callout--pull-up">
                <div class="color-callout__content type-xl--serif">
                    “Chase the vision, not the money; the money will end up following you.”
                    <div class="color-callout__attribution bottom type-sm--sans" style="font-size: 15px;">
                        –Tony Hsieh, Zappos CEO

                    </div>
                </div>
                <div class="container-flex">
                    <div>
                        <p class="type-xl--sans"><b style="padding: 10px;">Our mission</b></p>
                        <p class="type-base--serif">
                            To provide the best possible guidance and experienced mentor to make the journey fruitful. There are enormous number of ideas but inly few achieve success, we aim to make this few count.
                        </p>
                        <p class="type-base--serif">
                            There are many perks of a successful startup. Making a single startup successful gives not only the owning team benefit but also is a source of job opportunity. Even the mentors get to earn profit.
                        </p>

                    </div>
                    <div>
                        <img id="our_imgs" src="
                                https://images.unsplash.com/photo-1503437313881-503a91226402?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    </div>
                </div>
            </div>

            <div class="color-callout orange color-callout--pull-up">
                <div class="color-callout__content type-xl--serif">
                    “Ideas are easy. Implementation is hard.”


                    <div class="color-callout__attribution bottom type-sm--sans" style="font-size: 15px;">
                        –Guy Kawasaki, Alltop Co-Founder and Entrepreneur

                    </div>
                </div>
        </section>
        <section class="page-block">

            <div class="container-flex">
                <div class="row page-block__content">
                    <div class="col col-5 col-post-1">
                        <div style="width: 20%;">
                            <img id="our_imgs" src="
                                https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                        </div>

                    </div>
                    <div class="col col-6">
                        <p class="type-xl--sans"><b style="padding: 10px;">Our team</b></p>
                        <p class="type-base--serif">
                            We're a team of 4 people pursuing our Bachelors in Computer Science and Engineering in Jabalpur city.
                        </p>
                        <p class="type-base--serif">
                            We spend our time designing and building new projects and solving challenging problems.
                        </p>
                    </div>
                </div>
            </div>

            <div class="color-callout orange color-callout--pull-up">
                <div class="color-callout__content type-xl--serif">
                    “If you are not embarrassed by the first version of your product, you’ve launched too late.”
                    <div class="color-callout__attribution bottom type-sm--sans" style="font-size: 15px;">
                        –Reid Hoffman, LinkedIn Co-Founder and Venture Capitalist

                    </div>
                </div>
                <div class="container-flex">
                    <div id="left" class="col col-6" style=" width: 40%; ">
                        <p class="type-xl--sans"><b style="padding: 10px; ">Our history</b></p>
                        <p class="type-base--serif">
                            The idea of LOGO originated in the craziest 24 hours of Smart India Hackathon. A government oriented hackfest. The basic need was to mentor the startups. Also to search and conquer the vulnerabilities of Implementation.
                        </p>

                    </div>
                    <div id="right" style="width: 20%; float:right;">
                        <img id="our_imgs" src="
                                https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" id="img_r">
                    </div>
                </div>
            </div>
        </section>

        <div class="color-callout orange color-callout--pull-up">
            <div class="color-callout__content type-xl--serif">
                “Remember to celebrate milestones as you prepare for the road ahead.”
                <div class="color-callout__attribution bottom type-sm--sans" style="font-size: 15px;">
                    –Nelson Mandela, South African Leader

                </div>
            </div>

            </body>

            <footer>
                <br>
                <br>
                <br>
                <div class="footer-area">
                    <hr>
                    <p>
                        <h1>Till Next Time,Ciao.</h1>
                    </p>
                    <div class="grid-container">
                        <div class="grid-item" id="community">Our Community</div>
                        <div class="grid-item" id="learn-more">
                            Learn More</div>
                        <div class="grid-item"><a href="#">Facebook</a></div>
                        <div class="grid-item"><a href="#">Help and Support</a></div>
                        <div class="grid-item"><a href="#">Instagram</a></div>
                        <div class="grid-item"><a href="#">Create Account</a></div>
                        <div class="grid-item"><a href="#">Twitter</a></div>
                        <div class="grid-item"><a href="#">Guidelines</a></div>
                    </div>
                </div>
            </footer>

            </html>

            {% endblock content %}