{% extends "main_app/base.html" %} {% block content %}

<div class="jumbotron-area">
    <div class="jumbotron">
        <h1>LOGO.Inc</h1>
        <p style="text-align: center;">WE EMPOWER VISIONARIES TO LEAD MEANINGFUL BRANDS</p>
        <div class="buttonHolder ">
            <a href="{% url 'register' %}"><input value="Get Started " type="submit " class="button "></a>
        </div>

    </div>
    <div class="jumbotron-text">

        <br>
        <h1>Fueling Dreams</h1>

        <br>
        <div class="para1">
            <p> We provide a platform to help your valuable idea to reach sustenance in this ever changing market. Because we know how it feels to grow and become successful.
            </p>
        </div>
    </div>
</div>
</div>
<div class="text ">
    <h1>Why we?</h1>
    <p class="para ">For entrepreneurs, turning a passion into a business is the ultimate dream. But that dream doesn’t come easily. It’s hard work, and there are challenges around every corner. For mentors, sharing their hard-won knowledge with entrepreneurs who are
        just starting out is its own reward. LOGO is where they meet. It’s an easy-to-use service provided at no-cost that connects entrepreneurs with volunteer mentors so they can solve problems and build businesses together.</p>
    <p class="para "> There are 150 million startups in the world today with 50 million new startups launching every year. These are huge numbers by any standards but the question arises how many of these survive the waves of changes?</p>
    </p>
    <p class="para ">Main reason behind this is lack of proper guidance and experience in the particular field. However there are many other factors but this factor overpowers the rest. We not only provide the <b>guidelines</b> and <b> guidance</b> but also an <b>experienced mentor </b>for
        your idea. These mentors will solve your queries through chat and can even be your guide.There exists no professional site to mentor startups in India </b>
    </p>
</div>

<div class="mentor-area">
    <div class="mentor-jumbotron">
        <h1 style="padding-top: 20px;">Mentors</h1>
        <div class="para2">
            <p style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">The elite band of people that will guide your startup to reach new heights via their level of experience that they have gained by working effortlessly in the field of their expertise.They'll help you cut-short the trial and error paths and
                lead you to be on track. </p>
        </div>
        <div class="buttonHolder2">
            <a href="getstarted.html "><input value="Explore Mentors" type="submit " class="button" id="small-button"></a>
        </div>
    </div>>
    <div class="rpg-card">
        <div class="card-image" style="background: url('https://images.unsplash.com/photo-1490111718993-d98654ce6cf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); background-size: contain;"></div>
        <div class="card-text">
            <span class="date">4 days ago</span>
            <a href="{% url 'mentor-stories' %}"><h2>Mentor Stories(weekly)</h2></a>
            <p> illum maxime quod deserunt </p>
        </div>
    </div>
    <div class="rpg-card">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="date">11 days ago</span>
            <a href="{% url 'mentor-stories2' %}"><h2>Mentor Stories(weekly)</h2></a>
            <p> illum maxime quod deserunt </p>
        </div>
    </div>
</div>
<div class="startup-area">
    <div class="mentor-jumbotron">
        <h1 style="padding-top: 20px;">Startups</h1>
        <div class="para2">
            <p style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">Troubled or unexperienced micro scale companies that thrives on success and are restive for expansion and success that are looking for solutions and opinions about their models or problems.</p>
        </div>
        <div class="buttonHolder2">
            <a href="getstarted.html "><input value="Explore Startup" type="submit " class="button" id="small-button"></a>
        </div>
    </div>
    <div class="rpg-card">
        <div class="card-image" style="background: url('https://images.unsplash.com/photo-1523726491678-bf852e717f6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); background-size: contain;"></div>
        <div class="card-text">
            <span class="date">3 days ago</span>
            <a href="{% url 'startup-stories' %}"><h2>Startup Stories(weekly)</h2></a>
            <p> illum maxime quod deserunt</p>
        </div>
    </div>
    <div class="rpg-card">
        <div class="card-image" style="background:url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); background-size: contain;"></div>
        <div class="card-text">
            <span class="date">10 days ago</span>
            <a href="{% url 'startup-stories2' %}"><h2>Startup Stories(weekly)</h2></a>
            <p> illum maxime quod deserunt </p>
        </div>
    </div>
</div>



<footer>
    <div class="footer-area">
        <hr>
        <p>
            <h1>Till Next Time,Ciao.</h1>
        </p>
        <div class="grid-container">
            <div class="grid-item" id="community">Our Community</div>
            <div class="grid-item" id="learn-more">
                Learn More</div>
            <div class="grid-item"><a href="#">Facebook</a></div>
            <div class="grid-item"><a href="#">Help and Support</a></div>
            <div class="grid-item"><a href="#">Instagram</a></div>
            <div class="grid-item"><a href="#">Create Account</a></div>
            <div class="grid-item"><a href="#">Twitter</a></div>
            <div class="grid-item"><a href="#">Guidelines</a></div>
        </div>
    </div>
</footer>


{% endblock content %}