{% extends "main_app/base.html" %} {% block content %}

<div class="jumbotron-area">
    <div class="jumbotron">
        <h1>LOGO.Inc</h1>
        <p style="text-align: center;">WE EMPOWER VISIONARIES TO LEAD MEANINGFUL BRANDS</p>
        <div class="buttonHolder ">
            <a href="getstarted.html "><input value="Get Started " type="submit " class="button "></a>
        </div>

    </div>
    <div class="jumbotron-text">
        <p>
            <h1>Lorem Ipsum</h1>
            eum quae non facere beatae quis molestiae autem recusandae. Sequi alias labore sapiente facere in corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cumque iusto cupiditate quibusdam ex illum eveniet inventore eos! Doloribus
            facere veniam praesentium ducimus possimus culpa quas, aliquam animi porro alias?
        </p>
    </div>
</div>
</div>
<div class="text ">
    <h1>Our Platform</h1>
    <p class="para ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur facilis similique, consequuntur ad error laboriosam nihil quibusdam at ducimus, soluta consectetur alias, enim qui rem eligendi eius deserunt est! Non.</p>
    <p class="para ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vel? Repudiandae quas cupiditate qui, impedit voluptate facere rerum modi minus, provident ipsam deleniti vitae. Non nostrum mollitia amet aut delectus?</p>
    <p class="para ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vel? Repudiandae quas cupiditate qui, impedit voluptate facere rerum modi minus, provident ipsam deleniti vitae. Non nostrum mollitia amet aut delectus?</p>
    <p class="para ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vel? Repudiandae quas cupiditate qui, impedit voluptate facere rerum modi minus, provident ipsam deleniti vitae. Non nostrum mollitia amet aut delectus?</p>
</div>

<div class="mentor-area">
    <div class="mentor-jumbotron">
        <h1 style="padding-top: 20px;">Lorem Ipsum</h1>
        <p style="padding-top:40px; padding-left: 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque dolor, nisi corporis dolorum error eligendi est esse iure nesciunt mollitia reiciendis ea libero sed dolores? Alias iste quas commodi!</p>
        <div class="buttonHolder2">
            <a href="getstarted.html "><input value="Explore Mentors" type="submit " class="button" id="small-button"></a>
        </div>
    </div>
    <div class="card">
        <div class="card-image" style="background: url('https://images.unsplash.com/photo-1490111718993-d98654ce6cf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); background-size: contain;"></div>
        <div class="card-text">
            <span class="date">4 days ago</span>
            <h2>Mentor Stories</h2>
            <p> illum maxime quod deserunt eligendi dolor</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="date">4 days ago</span>
            <h2>Mentor Stories</h2>
            <p> illum maxime quod deserunt eligendi dolor</p>
        </div>
    </div>
</div>
<div class="startup-area">
    <div class="mentor-jumbotron">
        <h1 style="padding-top: 20px;">Lorem Ipsum</h1>
        <p style="padding-top:40px; padding-left: 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque dolor, nisi corporis dolorum error eligendi est esse iure nesciunt mollitia reiciendis ea libero sed dolores? Alias iste quas commodi!</p>
        <div class="buttonHolder2">
            <a href="getstarted.html "><input value="Explore Mentors" type="submit " class="button" id="small-button"></a>
        </div>
    </div>
    <div class="card">
        <div class="card-image" style="background: url('https://images.unsplash.com/photo-1523726491678-bf852e717f6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); background-size: contain;"></div>
        <div class="card-text">
            <span class="date">4 days ago</span>
            <h2>Startup Stories</h2>
            <p> illum maxime quod deserunt eligendi dolor</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image" style="background:url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); background-size: contain;"></div>
        <div class="card-text">
            <span class="date">4 days ago</span>
            <h2>Startup Stories</h2>
            <p> illum maxime quod deserunt eligendi dolor</p>
        </div>
    </div>
</div>



<footer>
    <div class="footer-area">
        <hr>
        <p>
            <h1>Till Next Time,Ciao.</h1>
        </p>
        <div class="grid-container">
            <div class="grid-item" id="community">Our Community</div>
            <div class="grid-item" id="learn-more">
                Learn More</div>
            <div class="grid-item"><a href="#">Facebook</a></div>
            <div class="grid-item"><a href="#">Help and Support</a></div>
            <div class="grid-item"><a href="#">Instagram</a></div>
            <div class="grid-item"><a href="#">Create Account</a></div>
            <div class="grid-item"><a href="#">Twitter</a></div>
            <div class="grid-item"><a href="#">Guidelines</a></div>
        </div>
    </div>
</footer>


{% endblock content %}