{% extends "main_app/base.html" %}
{% block content %}
    <div class="container">
        <h1 class="mb-3">Startups</h1>
        {% for profile in profiles %}
            <div class="card text-center">
                <div class="card-header">
                    {{ profile.category }}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ profile.user.username }}</h5>
                <p class="card-text">{{ profile.description }}</p>
                <a href="#" class="btn btn-primary">Help</a>
                </div>
            </div>
    </div>
    {% endfor %}
{% endblock content %} 