@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    background: white;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: #069370;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}

.logo:hover {
    color: #057c5e;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding-top: 10px;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 10px, 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

nav ul li a.active:hover {
    background: #068666;
}

nav ul li a.active,
nav ul li a:hover {
    background: #6fd1a2;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

header {
    width: 100%;
    padding: 5px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width:1200px) {
    header {
        margin: 20px;
    }
}

@media (max-width:768px) {
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ffffff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .menu-toggle:before {
        content: "\f0c9";
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before {
        content: "\f00d";
    }
    nav {
        display: none;
    }
    nav.active {
        display: block;
        width: 100%;
    }
    nav.active ul {
        display: block;
    }
    nav.active ul li {
        margin: 0;
    }
}

.jumbotron-area {
    height: 500px;
    width: 100%;
    background: #069370;
}

.jumbotron {
    max-width: 500px;
    height: 300px;
    position: absolute;
    margin-left: 800px;
    margin-top: 100px;
}

.jumbotron-text {
    max-width: 500px;
    position: absolute;
    color: whitesmoke;
    margin-top: 100px;
    margin-left: 75px;
}

.jumbotron-text h1 {
    color: whitesmoke;
}

h1 {
    color: #069370;
    text-align: center;
}

p a:hover {
    color: red;
}

li:hover {
    color: tomato;
}

.text {
    max-height: 100%;
    display: block;
    z-index: initial;
}

.text {
    width: 100%;
    max-width: 100%;
    background: white;
    margin-top: 40px;
    border-radius: 50px;
    margin-bottom: 50px;
    position: relative;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.56);
}

.text {
    display: flex;
    padding: 30px;
    margin-left: 120px;
    width: calc(100% - 300px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mentor-area {
    height: 400px;
    width: 100%;
}

.mentor-jumbotron {
    width: 40%;
    height: 350px;
    background-color: #069370;
    color: whitesmoke;
}

.mentor-jumbotron h1 {
    color: whitesmoke;
}

.startup-area {
    height: 400px;
    width: 100%;
}

.startup-jumbotron {
    width: 40%;
    height: 350px;
    margin-left: 60%;
    background-color: #069370;
    color: whitesmoke;
}

.startup-jumbotron h1 {
    color: whitesmoke;
}

.button {
    padding: 15px 32px;
    background-color: white;
    color: #069370;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #069370;
    font-weight: 500;
    font-size: 25px;
    margin: 20px;
}

#small-button {
    padding: 10px 24px;
    background-color: white;
    color: #069370;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #069370;
    font-weight: 500;
    font-size: 18px;
    margin: 5px;
    margin-left: 125px;
}

.button:hover {
    border: 2px solid white;
    background: #6fd1a2;
    color: white;
}

#small-button:hover {
    border: 4px solid #045a44;
    background: whitesmoke;
    color: #035f48;
}

.buttonHolder {
    text-align: center;
}

.footer-area {
    height: 275px;
    width: 98%;
    border: 2px solid #069370;
    margin-left: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-area h1 {
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    padding: 10px;
}

.grid-item {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

#community,
#learn-more {
    font-size: 20px;
    color: #069370;
}

.grid-item a {
    color: black;
    text-decoration: none;
}

.grid-item a:hover {
    color: #069370;
}